*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
   
}



#navbar{
    margin-top: 2%;
    width: 100%;
    height: 10vh;
background-color: white;
}


#navbar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
 color: rgb(23, 23, 27);
 font-weight: bolder;
 font-size: 20px;
}

#navbar i{
    color: darkolivegreen;
    font-weight: bolder;
    font-size: 23px;
}

#navbar ul li a:hover{
    color: rgba(36, 132, 4, 0.997);

}
#navbar .sign:hover{
    color: rgb(241, 242, 244);
    border:2px solid black;
    background-color: darkolivegreen;
}

#navbar .sign{
    background-color: white;
    color: black;
    width: 150px;
    height:45px;
    font-size: 14px;
    border: 2px solid rgb(86, 104, 132);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
padding: 10px;
font-weight: bolder;
font-size: 15px;
}



#home {
    width: 100%;
    /* height: 700px; */
    /* background-repeat: no-repeat; */
    /* background-image: url(https://tse1.mm.bing.net/th?id=OIP.phATIQWSl0faEXVixpiveAHaDn&pid=Api&P=0&h=180); */
    /* background-size: cover; */
    /* float: left; */
    /* text-align: center; */
    /* border: 1px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-left: 20px; */
    /* background: url(https://tse1.mm.bing.net/th?id=OIP.phATIQWSl0faEXVixpiveAHaDn&pid=Api&P=0&h=180) no-repeat center center fixed; */
    /* width: 100%;
    float: left;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.phATIQWSl0faEXVixpiveAHaDn&pid=Api&P=0&h=180);
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}

#home h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: darkolivegreen;
    font-weight: bolder;
}

#mainbox h2{
    display: grid;
    justify-content: center;
    font-size: 40px;
    color: darkolivegreen;
    font-weight: bolder;
}

#box{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
   
}

#Box{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#box .box1{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);
    gap: 10px;
}

#box .send{
        background-color:  rgb(71, 100, 20);
    color: rgba(255, 255, 255, 0.925);
    width: 150px;
    height:45px;
    font-size: 19px;
    border: 0px solid red;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


#Box .send{
            background-color:   rgb(72, 100, 22);
    color: rgba(255, 255, 255, 0.925);
    width: 150px;
    height:45px;
    font-size: 19px;
    border: 0px solid red;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#box .box2{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);
  
}
#box .box3{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);
}

#Box .box4{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);

}

#Box .box5{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);
}

#Box .box6{
    width: 80%;
    height: 60vh;
    border: 0px solid black;
    background-color:rgb(84, 84, 84);

    
}

#footer-section{
    width: 100%;
    height: 40vh;
    background-color: rgb(42, 56, 18);
}
#footer-section p{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 15px;
    padding-top: 3%;
}
#map h1{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: darkolivegreen;
    font-weight: bolder;
}

.social-links{
    display: flex;
    /* justify-content: space-around; */
}

.social-links a{
    text-decoration: underline;
    color: darkgrey;
    gap: 0px;
    font-size: 18px;
}
.social-links a:hover{
    color: darkgreen;

}
.social-links i{
    color: darkorange;
    gap: 0px;
    font-size: 18px;
}

#footer-section .text{
    width: 33%;
    height: 6vh;
    background-color: darkkhaki;
    font-size: 18px;
}

i{
    color: darkgray;   
    font-size: 20px;
}
button{
    width: 10%;
    height: 5vh;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
       border: 0px solid red;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* 
.social-links i{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;    
    height: 5rem;
    background-color:transparent;
    border: 0.1rem solid green;
    border-radius: 5%;
    color: darkolivegreen;
    margin: 0 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
margin-top: 2%;
margin-left: 16%;

}

.social-links a{
    width:1px;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: rgb(140, 207, 4);
    filter: drop-shadow(0 0 10px darkolivegreen);
} */
